<ion-view view-title="Checklist" class="bar-dark">
  <ion-content>
      <!--======================================================-->
      <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="getAllScheduled()">
      </ion-refresher>
      <ion-list class="">
          <ion-item ng-repeat="task in tasks">
            <div class="item item-avatar item-icon-left" style="transition-delay: 0.32s;border: 1px solid #ddd">
              <i class="icon ion-speakerphone"></i>
              <h2>{{task.title}}</h2>
              <p>{{task.text}}</p>
              <a ng-click="cancelSchedule(task.id)"><i class="icon ion-android-cancel" style="left: 90% !important;color: red"></i></a>
            </div>
          </ion-item>
      </ion-list>
      <!--======================================================-->
  </ion-content>
  <button id="fab" ng-click="modal.show()" class="button button-energized-900 button-fab button-fab-bottom-right pane activated">
    <i class="icon ion-plus"></i>
  </button>
  <button id="fab" ng-click="getAllScheduled()" class="button button-energized-900 button-fab button-fab-bottom-left pane activated">
    <i class="icon ion-refresh"></i>
  </button>
</ion-view>


