<ion-view view-title="Checklist" class="bar-dark">
  <ion-content>
    <section>
      <!--======================================================-->

      <ion-list class="">
        <ion-item>
          <a ui-sref="app.friends" class="item item-avatar item-icon-left" href="#/app/friends" style="transition-delay: 0.32s;">
            <i class="icon ion-speakerphone muted"></i>
            <h2>Jon Snow</h2>
            <p>Da illest illegitimate</p>

          </a>
        </ion-item>

        <ion-item>
          <a ui-sref="app.friends" class="item item-avatar item-icon-left" href="#/app/friends" style="transition-delay: 0.32s;">
            <i class="icon ion-speakerphone muted"></i>
            <h2>Jon Snow</h2>
            <p>Da illest illegitimate</p>
          </a>
        </ion-item>

        <ion-item>
          <a ui-sref="app.friends" class="item item-avatar item-icon-left" href="#/app/friends" style="transition-delay: 0.32s;">
            <i class="icon ion-speakerphone muted"></i>
            <h2>Jon Snow</h2>
            <p>Da illest illegitimate</p>

          </a>
        </ion-item>

        <ion-item>
          <a ui-sref="app.friends" class="item item-avatar item-icon-left" href="#/app/friends" style="transition-delay: 0.32s;">
            <i class="icon ion-speakerphone muted"></i>
            <h2>Jon Snow</h2>
            <p>Da illest illegitimate</p>
            <i class="icon ion-speakerphone muted"></i>
          </a>
        </ion-item>
      </ion-list>

      <!--======================================================-->
    </section>
  </ion-content>
  <button id="fab" class="button button-energized-900 button-fab button-fab-bottom-right pane activated">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>

