<ion-view view-title="Settings" class="bar-dark">
  <ion-content>
    <section>
      <!--======================================================-->
      <ul class="list">
        <li class="item item-toggle">
          SOS Notifications
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <!--======================================================-->
    </section>
  </ion-content>
</ion-view>
