<ion-view view-title="Settings" class="bar-dark">
  <ion-content>
    <section>
      <!--======================================================-->
      <ul class="list" id="settings">
        <li class="item item-toggle">
          SOS Notifications
          <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="notificationStatus">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item">
          SOS Primary Contact
          <label>
            <input type="text" placeholder="Contact Number" ng-model="contactNumber">
          </label>
        </li>

        <li class="item" >
          SOS Notifications Interval <div style="font-weight: bold"> {{rangeValueInterval}} Min(s)</div>
          <div class = "range">
            <input type="range" name="interval" min="1" max="60" ng-model="rangeValueInterval" ng-change="drag(rangeValue)" >
          </div>
        </li>

        <li class="item">
          SOS Notifications Delay<div style="font-weight: bold"> {{rangeValueDelay}} Min(s)</div>
          <div class = "range">
            <input type="range" name="delay" min="1" max="60" ng-model="rangeValueDelay" ng-change="drag(rangeValue)" >
          </div>
        </li>

        <li class="item" style="border: none;">
          <button ng-click="saveSettings(notificationStatus, contactNumber, rangeValueInterval, rangeValueDelay)" class="button button-block button-positive">
            Save <ion-spinner ng-show="loading" style="position: absolute;margin: 7px 0 0 10px" icon="lines"></ion-spinner>
          </button>
        </li>

      </ul>

      <!--======================================================-->
    </section>
  </ion-content>
</ion-view>
