/* Empty. Add your own CSS if you like */
#login .item{
    border-color: ivory;
}
#side-menu h1{
    left: 35px !important;
}

#login .item, #register .item {
    margin: 0 0 0 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#login .item .input-label, #register .item .input-label{
    padding: 0px 0 0 10px;
    opacity: 2.5;
}

.bar-assertive-900 {
    background-color: rgb(85, 64, 94);
}

.stable-bg, .stable-bg:hover {
    /*background-color: rgb(228, 210, 218);*/
    background-color: rgb(255, 255, 255)
}

.item {
    color: #000;
    font-size: 15px;
}

ion-header-bar .title {
    left: 0 !important;
    text-align: center !important;
}

ion-side-menu .list .item, ion-side-menu ion-footer-bar .item{
    border-bottom: 2px solid #6d233e;
    background: #9d4765;
    border-left: 7px solid #823b5c;
}

#settings .item{
    font-weight: 500;
    border-bottom: 1px solid rgba(185, 185, 185, 0.37);
}

button#modal-cancel{
    z-index: 1;
    padding: 0 8px;
    /* min-width: initial; */
    min-height: 31px;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    width: auto !important;
    max-width: 100px;
    border: 1px solid #452254;
}
.modal-header{
    background-color: rgb(85, 64, 94);
}

.modal-header h1{
    color: white;
    right: 0px !important;
}